<!doctype html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>个人简历</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div>
	<button class="btn-print" onclick="print()">打印</button>
	<iframe id="printIframe" src="" width="0" height="0" frameborder="0"></iframe>
	<section class="particle"></section>
	<section id="app" class="container hide">
		<el-container v-show="isShow">
			<el-main v-cloak>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-phone"></i>联系方式</h3>
					</div>
					<div class="text item">
						<ul>
							<li>手机号码: {{person.contact.mobile}}</li>
							<li>Email: {{person.contact.email}}</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-info"></i>个人信息</h3>
					</div>
					<div class="text item">
						<ul>
							<li> {{person.info.name}}/{{person.info.gender}}/{{person.info.birth}}</li>
							<li> {{person.info.college}}</li>
							<li>工作经验: {{person.info.work}}</li>
							<li>Github: <a :href="person.info.github" target="_blank">{{person.info.github}}</a></li>
							<li>期望职位: {{person.info.job}}</li>
							<li>期望薪资: {{person.info.money}}</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-info"></i>个人能力</h3>
					</div>
					<div class="text item">
						<ul>
							<li v-for="(item, index) in person.power">
								{{index+1}}.{{item}}
							</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-success"></i>好玩的东西</h3>
					</div>
					<div class="text item">
						<ul>
							<li v-for="fun in person.fun">
								<a :href="fun.url" target="_blank">{{fun.name}}</a>
							</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-success"></i>工作经历</h3>
					</div>
					<div class="text item" v-for="item in person.company">
						<h4>{{item.name}} | {{item.exp}}</h4>
						<ul>
							<li v-for="(itemDuty, index) in item.duty">
								{{index+1}}.{{itemDuty}}
							</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-success"></i>项目经验</h3>
					</div>
					<div class="text item" v-for="(project, indexProject) in person.projects">
						<h4>{{indexProject+1}}.{{project.name}}</h4>
						<p>
							<a :href="project.url" target="_blank" v-if="!project.isWeb">
								<img :src="project.image" style="width: 200px;display: none;">
							</a>
							<a :href="project.url" target="_blank" v-else>
								{{project.url}}
							</a>
						</p>
						<p>项目简介: {{project.desc}}</p>
						<ul>
							<li v-for="(itemDuty, indexDuty) in project.duty">
								{{indexDuty+1}}.{{itemDuty}}
							</li>
						</ul>
					</div>
				</el-card>
			</el-main>
			<el-footer>
				<h5>
					power by <a :href="vueURL" target="_blank">vue</a> & <a :href="elementURL"
					                                                        target="_blank">element</a>
				</h5>
			</el-footer>
		</el-container>
	</section>
</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/jparticles@2.0.1/production/jparticles.js"></script>
<script src="https://unpkg.com/jparticles@2.0.1/production/particle.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
	new JParticles.particle ('.particle', {
		// 两粒子圆心点之间的直线距离为 90
		proximity: 90,
		// 定位点半径 100 以内（包含）的所有粒子，圆心点之间小于等于 proximity 值，则连线
		range: 100
	});
	const app = new Vue ({
		el: "#app",
		data: {
			person: {
				contact: {
					mobile: '18912604051',
					email: 'happyzhangyuting@163.com',
				},
				info: {
					name: '张宇亭',
					gender: '男',
					birth: '1992',
					college: '本科/苏州科技大学天平学院',
					work: '3年多工作经验',
					github: 'https://github.com/sometumi',
					job: 'php程序员',
					money: '10k-12k',
				},
				power: [
					'3年php开发经验，熟练掌握Php/mysql/redis/linux',
					'熟悉掌握MVC框架原理，熟悉Laravel5.5',
					'熟练掌握MySQL等关系型数据库，及非关系型数据库redis',
					'熟练javascript/jquery/html/css/vue',
					'了解docker环境部署',
				],
				fun: [
					{
						name: '跳一跳脚本',
						url: 'https://github.com/sometumi/jump-game',
					},
					{
						name: 'docker搭建lnmp',
						url: 'https://github.com/sometumi/docker-lnmp',
					},
					{
						name: '图片转字符画',
						url: 'https://github.com/sometumi/imageToChars',
					},
				],
				company: [
					{
						name: '苏州大道国际旅行社有限公司',
						exp: '2017年3月~2019年2月',
						duty: [
							'担任主要php开发，负责公司网站和小程序搭建',
							'设计网站整体架构，功能，流程',
							'搭建公司后台及接口',
							'与客户交流了解需求',
							'给组员分配任务',
						],
					},
					{
						name: '苏州爱察网络有限公司',
						exp: '2016年2月~2016年12月',
						duty: [
							'担任公司主要php开发人员，主要负责网站的后台搭建，js功能编写，完善公司框架通用功能',
							'使用php框架+adminTLE+seajs搭建公用后台，完善通用功能',
							'在前端与后台引入命名语义化，开发通用接口，为前端提供数据',
							'开发多平台商城项目，某公司网站',
						],
					},
					{
						name: '苏州巅峰网络有限公司',
						exp: '2015年5月~2015年11月',
						duty: [
							'使用thinkphp3.2.3开发后台网站',
							'基于公司平台进行微信公众号二次开发',
							'深入学习网站开发的基本流程',
						],
					},
				],
				projects: [
					{
						name: '小程序商城模板',
						url: '',
						image: './images/商城模板.jpg',
						isWeb: false,
						desc: '开发一个通用解决方案,解决商家将产品放在线上售卖的问题',
						duty: [
							'负责搭建整套小程序商城平台(包含商家管理系统+商家小程序管理系统+前台小程序接口)',
							'使用laravel5.5+vue2.5开发商家管理系统,让运营人员方便管理和维护客户',
							'在原来公司框架的基础上开发了商家小程序管理系统(Db操作包,通用CURD模板,小程序支付包),以及商品相关所有功能',
							'开发基于RBAC的权限管理和通用二级分销系统(全局,特殊商品)',
							'开发类似阿里速卖通的后台产品模块',
							'使用echarts展示财务信息,订单与销售情况',
							'使用redis 存储接口中用户信息与部分热门产品,加快访问速度',
						],
					},
					{
						name: '神段子搞笑营小程序',
						url: '',
						image: './images/神段子.jpg',
						isWeb: false,
						desc: '使用视频和积分体现分销来吸引粉丝的工具',
						duty: [
							'使用公司框架+vue2.5开发后台管理系统',
							'对接阿里云OSS服务管理所有视频',
							'开发积分系统,检查用户观看视频的进度和转发，分享获取积分以及签到系统',
						],
					},
					{
						name: '四季森林小程序',
						url: '',
						image: './images/四季森林.jpg',
						isWeb: false,
						desc: '解决客户线上发布装修请求,商家接单,售后,施工 完成装修服务',
						duty: [
							'解决用户批量打印装修记录',
						],
					},
					{
						name: '西服小程序',
						url: '',
						image: './images/西服.jpg',
						isWeb: false,
						desc: '为校园学生提供西服裁剪和售卖服务',
						duty: [
							'使用laravel5.5+vue2.5开发后台，管理单平台的多小程序,解决量体师和商家端问题',
						],
					},
					{
						name: '淘日本网站',
						url: 'https://www.icooder.cn/',
						image: '',
						isWeb: true,
						desc: '一个提供日本产品的销售/代购平台',
						duty: [
							'主要使用公司框架开发后台和接口,和vue2.5+element开发部分网站功能',
							'解决了多语言问题与日本方面微信支付',
							'使用redis存储手机验证码发送队列',
							'临时学习python解决亚马逊和日本乐天的产品采集问题',
						],
					},
					{
						name: '美国号码网',
						url: 'http://www.8number.com/',
						image: '',
						isWeb: true,
						desc: '一个提供美国号码售卖的商家平台',
						duty: [
							'解决了多语言的问题与折扣券过期销毁',
							'使用paypal解决支付问题',
							'解决号码产品批量上传',
							'完成复杂的号码筛选推荐功能',
						],
					},
					{
						name: '苏州舒飞美容',
						url: 'https://www.shufeinail.com/',
						image: '',
						isWeb: true,
						desc: '提供美容产品在线售卖与客户咨询',
						duty: [
							'提供多种支付方式(微信和支付宝)',
							'使用bootstrap框架,兼容多平台',
						],
					},
				],
			},
			vueURL: 'https://cn.vuejs.org',
			elementURL: 'http://element-cn.eleme.io',
			isShow: false,
		},
		methods: {
			print: function () {
				let content = document.getElementById ('app');
				let printIframe = document.getElementById ('printIframe');
				printIframe.contentDocument.write (content.innerHTML);
				printIframe.contentDocument.close ();
				printIframe.contentWindow.print ();
			},
			setLoading: function () {
				let options = {
					fullscreen: true,
					lock: true,
				};
				let loading = this.$loading (options);
				let that = this;
				setTimeout (function () {
					that.$nextTick (() => {
						loading.close ();
					});
					that.isShow = true;
					//删除元素class hide
					document.getElementById ('app').setAttribute ('class', 'container');
				}, 1000);
			},
		},
		mounted: function () {
			this.setLoading ();
		},
	});
</script>
</body>
</html>