<!doctype html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>个人简历</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/index.css">
</head>
<body>
<div>
	<button class="btn-print" onclick="print()">打印</button>
	<iframe id="printIframe" src="" width="0" height="0" frameborder="0"></iframe>
	<section class="particle"></section>
	<section id="app" class="container">
		<el-container>
			<el-main>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-phone"></i>联系方式</h3>
					</div>
					<div class="text item">
						<ul>
							<li>手机号码: {{person.contact.mobile}}</li>
							<li>Email: {{person.contact.email}}</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-info"></i>个人信息</h3>
					</div>
					<div class="text item">
						<ul>
							<li> {{person.info.name}}/{{person.info.gender}}/{{person.info.birth}}</li>
							<li> {{person.info.college}}</li>
							<li>工作经验: {{person.info.work}}</li>
							<li>Github: <a :href="person.info.github" target="_blank">{{person.info.github}}</a></li>
							<li>期望职位: {{person.info.job}}</li>
							<li>期望薪资: {{person.info.money}}</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-info"></i>个人能力</h3>
					</div>
					<div class="text item">
						<ul>
							<li v-for="(item, index) in person.power">
								{{index+1}}.{{item}}
							</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-success"></i>好玩的东西</h3>
					</div>
					<div class="text item">
						<ul>
							<li>
								<a :href="person.fun.jump" target="_blank">微信跳一跳脚本</a>
							</li>
							<li>
								<a :href="person.fun.imageToChars" target="_blank">图片转字符画</a>
							</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-success"></i>工作经历</h3>
					</div>
					<div class="text item" v-for="item in person.company">
						<h4>{{item.name}} | {{item.exp}}</h4>
						<ul>
							<li v-for="(itemDuty, index) in item.duty">
								{{index+1}}.{{itemDuty}}
							</li>
						</ul>
					</div>
				</el-card>
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<h3 class=""><i class="el-icon-success"></i>项目经验</h3>
					</div>
					<div class="text item" v-for="(project, indexProject) in person.projects">
						<h4>{{indexProject+1}}.{{project.name}}</h4>
						<p>
							<a :href="project.url" v-if="!project.isWeb">
								<img :src="project.image" style="width: 200px;">
							</a>
							<a :href="project.url" v-else>
								{{project.url}}
							</a>
						</p>
						<p>{{project.desc}}</p>
						<ul>
							<li v-for="(itemDuty, indexDuty) in project.duty">
								{{indexDuty+1}}.{{itemDuty}}
							</li>
						</ul>
					</div>
				</el-card>
			</el-main>
			<el-footer>
				<h5>
					power by    <a :href="vueURL">vue</a> & <a :href="elementURL">element</a>
				</h5>
			</el-footer>
		</el-container>
	</section>
</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/jparticles@2.0.1/production/jparticles.js"></script>
<script src="https://unpkg.com/jparticles@2.0.1/production/particle.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
	new JParticles.particle ('.particle', {
		// 两粒子圆心点之间的直线距离为 90
		proximity: 90,
		// 定位点半径 100 以内（包含）的所有粒子，圆心点之间小于等于 proximity 值，则连线
		range: 100
	});
	const app = new Vue ({
		el: "#app",
		data: {
			person: {
				contact: {
					mobile: '18912604051',
					email: 'happyzhangyuting@163.com',
				},
				info: {
					name: '张宇亭',
					gender: '男',
					birth: '1992',
					college: '本科/苏州科技大学天平学院',
					work: '3年多工作经验',
					github: 'https://github.com/sometumi',
					job: 'php程序员',
					money: '10k-12k',
				},
				power: [
					'3年php开发经验，熟练掌握Php/mysql/redis/linux',
					'熟悉掌握MVC框架原理，熟悉Laravel5.5',
					'熟练掌握MySQL等关系型数据库，及非关系型数据库redis',
					'熟练javascript/jquery/html/css/vue',
					'了解docker环境部署',
				],
				fun: {
					jump: 'https://github.com/sometumi/jump-game',
					imageToChars: 'https://github.com/sometumi/imageToChars',
				},
				company: [
					{
						name: '苏州大道国际旅行社有限公司',
						exp: '2017年2月~2019年2月',
						duty: [
							'设计网站整体架构，功能，流程',
							'搭建公司后台及接口',
							'与客户交流了解需求',
							'给组员分配任务',
							'搭建商城网站系统和小程序商城系统通用模板(总分后台管理系统，小程序商城),开发通用Db库,后台CURD开发模板,小程序支付库',
						],
					},
					{
						name: '苏州爱察网络有限公司',
						exp: '2016年2月~2016年12月',
						duty: [
							'担任公司主要php开发人员，主要负责网站的后台搭建，js功能编写，完善公司框架通用功能',
							'使用php框架+adminTLE+seajs搭建公用后台，完善通用功能',
							'在前端与后台引入命名语义化，开发通用接口，为前端提供数据',
							'开发多平台商城项目，某公司网站',
						],
					},
					{
						name: '苏州巅峰网络有限公司',
						exp: '2015年5月~2015年11月',
						duty: [
							'使用thinkphp3.2.3开发后台网站',
							'基于公司平台进行微信公众号二次开发',
							'深入学习网站开发的基本流程',
						],
					},
				],
				projects: [
					{
						name: '小程序商城模板',
						url: '',
						image: './images/商城模板.jpg',
						isWeb:false,
						desc:'一个通用的商城模板',
						duty:[
							'项目负责人,负责分配任务,开发后台和接口',
							'在原来公司框架的基础上开发了Db操作包,后台通用CURD模板,小程序支付包,以及商品相关所有功能,为以后的所有商城类小程序打下基础',
							'功能包括(产品模块,订单模块,会员模块,报表统计,财务模块,评论模块,权限模块,分销模块)',
						],
					},
					{
						name: '神段子搞笑营小程序',
						url: '',
						image: './images/神段子.jpg',
						isWeb:false,
						desc:'一个用来看视频吸引粉丝的工具',
						duty:[
							'项目负责人,负责分配任务,开发后台和接口',
							'在线签到,邀请好友注册,看视频都可获取基本兑换红包',
							'功能包括(视频模块,文章模块,会员中心,评论模块,积分模块,全局配置)',
						],
					},
					{
						name: '四季森林小程序',
						url: '',
						image: './images/四季森林.jpg',
						isWeb:false,
						desc:'解决客户线上发布装修请求,商家接单,售后,施工 完成装修服务',
						duty:[
							'项目负责,了解客户需求,分配任务',
							'开发后台和接口',
						],
					},
					{
						name: '燕窝小程序',
						url: '',
						image: './images/燕窝.jpg',
						isWeb:false,
						desc:'为商家提供燕窝的在线售卖服务',
						duty:[
							'项目负责,了解客户需求,分配任务',
							'开发后台和接口',
						],
					},
					{
						name: '西服小程序',
						url: '',
						image: './images/西服.jpg',
						isWeb:false,
						desc:'为校园学生提供西服裁剪和售卖服务',
						duty:[
							'项目负责,了解客户需求,分配任务',
							'开发后台和接口,部分网站',
							'解决在线接单和售卖服务',
						],
					},
					{
						name: '咖啡小程序',
						url: '',
						image: './images/咖啡.jpg',
						isWeb:false,
						desc:'为商家提供零食售卖服务',
						duty:[
							'项目负责,了解客户需求,分配任务',
							'开发后台和接口,部分网站',
							'解决在线接单和售卖服务',
						],
					},
					{
						name: '淘日本网站',
						url: 'https://japanbuy.jp',
						image: '',
						isWeb:true,
						desc:'一个提供日本产品的销售/代购平台',
						duty:[
							'项目负责,了解客户需求,分配任务',
							'开发后台和接口,部分网站',
							'解决了多语言问题,对接日本方面微信支付',
							'主要功能包括(产品模块(产品,采集,类别,属性,品牌),订单模块,财务模块,客户模块,广告模块,内容管理模块,运费设置模块)',
						],
					},
					{
						name: '美国号码网',
						url: 'http://www.8number.com/',
						image: '',
						isWeb:true,
						desc:'一个提供美国号码售卖的平台',
						duty:[
							'解决了多语言的问题，折扣券的发放，以及是用paypal支付',
							'解决号码产品批量上传',
							'完成复杂的号码筛选推荐功能',
						],
					},
					{
						name: '苏州舒飞美容',
						url: 'https://www.shufeinail.com/',
						image: '',
						isWeb:true,
						desc:'提供美容产品在线售卖与客户咨询',
						duty:[

						],
					},
				],
			},
			vueURL:'https://cn.vuejs.org',
			elementURL:'http://element-cn.eleme.io',
		},
		methods: {
			print:function () {
				let content = document.getElementById('app');
				let printIframe = document.getElementById('printIframe');
				printIframe.contentDocument.write(content.innerHTML);
				printIframe.contentDocument.close();
				printIframe.contentWindow.print();
			}
		},
	});
</script>
</body>
</html>